body {
	padding: 1rem .5rem;
	font-size: 1.3rem;
	line-height: 1.2;
	max-width: 60rem;
	margin: 0 auto;
	background-color:darkgrey;

  list-style-type: none;
}

@media screen and (min-width:60em) {
	body{
		background-image: url("../images/background_side_left.jpg");
		background-position: left;
		background-repeat: repeat-y;
		background-color: #700015;
  }
}

@media screen and (min-width:50em) {
  body{
    max-width:95%;
  }
}

@media screen and (min-width:50em) {
  header{
    display: table;
		background-color: #700015;
		width:100%;
  }
}


@media screen and (min-width:60em) {
	header{
    display: flex;
		flex-wrap:wrap;
		background-color: #700015;
		width:100%;
  }
}


.LogoWrapper
{
	height: 200px;
	background-image: url('../images/RyanSteffesPhotographer_small.jpg');
	background-repeat: no-repeat;
  background-position: center;
	background-size:cover;

}

@media screen and (min-width:50em) {
  .LogoWrapper{
    width:200px;
		background-image: url('../images/RyanSteffesPhotographer.jpg');
		background-size: cover;
		display: table;
  }
}

@media screen and (min-width:60em) {
  .LogoWrapper{
		background-image: url('../images/RyanSteffesPhotographer.jpg');
		height:30vh;
		margin:2vh;
		display: auto;
  }
}


@media screen and (min-width:50em) {
	.PesonalInformation{
			display: table-cell;
	}
}

@media screen and (min-width:60em) {
	.PesonalInformation{
			display: flex;
			align-items: center;
			width:65%;
	}
}

main
{
  display: relative;
  clear:both;
  background-color: #9aabcd;
}

@media screen and (min-width:60em) {
main
	{
	  display: flex;
		flex-wrap: wrap;
		align-items: center;

	}
	main>*
	{
		flex:1 1 500px;
	}
}

img {
	max-height: 250px;
}

section
{
  	display: table;
    background-color: #abcdef;
    margin: 10px;
		width:95%;
}

@media screen and (min-width:60em) {
	section
	{
	  	display: flex;
			flex-wrap:wrap;
	    background-color: #abcdef;
	    margin: 10px;
			max-width:100%;
			justify-content: center;

	}
	section>*
	{
		flex:1 1 25vw;
	}
}


.EntryName
{
  display: table-cell;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 10px;
	text-align: justify;
	padding: 10px;
}

@media screen and (min-width:60em) {
	.EntryName
	{
	  display: auto;
	  font-size: 1.3rem;
	  font-weight: bold;
	  margin-top: 10px;
	}
}

.EntryDate
{
  display: table-cell;
	width:15rem;
  font-size: .99rem;
  font-style:oblique;
	text-align: right;
}

@media screen and (min-width:60em) {
	.EntryDate
	{
	  display: auto;
		text-align: center;
		flex-basis:20rem;
	}
}

.EntryDescription
{
	display: list-item;
	max-width: 95%;
	overflow-x: hidden;
	overflow: visible;
	font-size:.9rem;
	margin-left: 10px;
	text-align: justify;
	padding-bottom: 10px;
	margin: 10px;
}

@media screen and (min-width:60em) {
	.EntryDescription
	{
	  display: auto;
	}
}

.EntryTitle
{
	display: list-item;
	margin-top: 2em;
	background-color: #bcdefa;
	font-size:1.8rem;
	font-weight: bolder;
}

@media screen and (min-width:60em) {
	.EntryTitle
	{
	  display:auto;
		flex-basis: 100%;
		text-align: center;
	}
}

@media screen and (min-width:60em) {
	.Experience{
		flex-basis: 100%;
	}
}

.Hobbies>*
{
	padding-left:25px;
}
