// Variables for User Interface
$light-shades-color:#FAF9F8;
$light-accent-color:#53B1CC;
$main-color:#1A4888;
$dark-accent-color:#9F5865;
$dark-shades-color:#16161F;
$header-background-image: url("../images/RyanSteffesPhotographer.jpg");
$header-height:500px;
$header-width:100%;

$serif-font-family:"Times New Roman", "Times", serif;
$san-serif-font-family:"Arial", "Helvetica", sans-serif;
